# Python
__pycache__/
*.pyc
.venv/

# Node
node_modules/
dist/
web/dist/

# Docker volumes & backups
pgdata/
redisdata/
webdist/
backups/

# Env files (no subir secretos)
.env
.env.*

# Logs
*.log

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
